<!DOCTYPE html>
<html>
    <head>
        <link href="/css/styles.css" rel="stylesheet" type="text/css">
        <meta charset="utf-8">
        <title>{{single_store.getName}}</title>

        <div class="main-nav"><h1>{{single_store.getName}}</h1></div>
    </head>

    <body>

        <div class="brand-for-store">
            <div id="add-brand-to-store">Add a brand to {{single_store.getName}}:</div>

            <form action="/stores/{{ single_store.getId }}" method="post">

                <input id="current_store_id" name="current_store_id" type="hidden" value="{{ single_store.getId }}">

                <label for="brand_id">Select a brand</label>
                <select id="brand_id" name="brand_id" type="text">

                    {% for current_brand in all_brands %}
                        <option value="{{ current_brand.getId }}"> {{ current_brand.getName }}</option>
                    {% endfor %}
                </select>

            <button type="submit">Add</button>

            </form>
        </div>

        <div class="show-store-brands">
            {% for brand in brands_sold_in_this_store %}
            <h3> {{ brand.getName}}</h3>
            <div id="style-in-store">{{brand.getStyle}}</div>
            {% endfor %}
        </div>

        <form action="/stores/{{single_store.getId}}" method="post">
            <input name="_method" type="hidden" value="delete">
            <button type="submit">Delete {{single_store.getName}}</button>
        </form>
    </body>

</html>
