<!DOCTYPE html>
<html>
    <head>
        <link href="/css/styles.css" rel="stylesheet" type="text/css">
        <meta charset="utf-8">
        <title>{{single_store.getName}}</title>

        <div class="main-nav"><h1>{{single_store.getName}}</h1></div>
    </head>

    <body>
        <h3>Add a brand and style to {{single_store.getName}}:</h3>
        <div class="brand-for-store">

            <form action="/store/{{single_store.getId}}" method="post">

                <input id="current_store_id" name="current_store_id" type="hidden" value="{{single_store.getId}}">
                <label id="choose-brand">Select a brand</label>
                <select class="brand_id" name="brand" type="text">
                    {% for current_brand in all_brands %}
                        <option value="{{current_brand.getId}}">{{current_brand.getName}}</option>
                    {% endfor %}
                </select>
                <label id="choose-brand">Choose a style</label>
                <select class="brand_id" name="style" type="text">
                    {% for current_brand in all_brands %}
                        <option value="{{current_brand.getId}}">{{current_brand.getStyle}}</option>
                    {% endfor %}
                </select>
            <button type="submit">Add</button>
            </form>
        </div>

        {% for brand in brands_sold_in_store %}
        <p>{{brand.getName}}<p>
        {% endfor %}

        <form action="/stores/{{single_store.getId}}" method="post">
            <input name="_method" type="hidden" value="delete">
            <button type="submit">Delete {{single_store.getName}}</button>
        </form>
    </body>

</html>
